# API Keys
TWELVE_DATA_API_KEY=42["auth", {sessionToken: "e770d34739e6680d0cd1ef407b30ddd4", uid: "119765565", lang: "uk",…}]

# Database
DATABASE_URL=your_database_url_here

# JWT
JWT_SECRET=your_jwt_secret_here

# Server
PORT=3001
NODE_ENV=development

# Frontend
FRONTEND_URL=http://localhost:3000
TELEGRAM_BOT_TOKEN=8473122166:AAGBZm8bWgcONfCzXsdGPzTCz_e8ab-KBv8

# Admin
ADMIN_TOKEN=123456
